@import "reset";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "colors";

@font-face {
  font-family: "Code-Bold";
  src: url("fonts/CODE_Bold.eot?") format("eot"),
  url("fonts/CODE_Bold.woff") format("woff"),
  url("fonts/CODE_Bold.ttf") format("truetype"),
  url("fonts/CODE_Bold.svg#Code-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Code-Light";
  src: url("fonts/CODE_Light.eot?") format("eot"),
  url("fonts/CODE_Light.woff") format("woff"),
  url("fonts/CODE_Light.ttf") format("truetype"),
  url("fonts/CODE_Light.svg#Code-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin coderef {
      background-color: #7F9F7F;
      color: white;
}

$height_and_size: 3em;

#header_top {

  @include span-columns(12);

  @include position(fixed, 0 null null 0);
  z-index: 90;
  background: $light_orange;
  color: $cream;
  height: $height_and_size;
  -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.50), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.50), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
  width: 100%;
  text-align: center;

  .title {
    @include span-columns(12 of 12);
    display: block;
    padding-top: 0.2em;

      #engineering {
        @include transition(all 0.5s ease-in-out);
        color: $cream;
        font-family: Code-Light, sans-serif;

        &:hover {
          color: $dark_blue;
        }

      }

      #fantasy {
        @include transition(all 0.5s ease-in-out);
        color: $cream;
        font-family: Code-Bold, sans-serif;

        &:hover {
          color: $dark_blue;
        }
    }
  }

  span {
    vertical-align: middle;
    line-height: normal;
    font-size: $height_and_size;
  }

}

body {
  background: $body_background;
  $menu_and_footer: #878484;
  @import "navi";


  div.asciicast {
    text-align: center;
  }

  .button-nav {
    z-index: 100;

    @include transition(all 0.5s ease-in-out);
    @include position(fixed, 0% null null 0%);

    height: $height_and_size;
    background: $dark_blue;
    border-radius: 0;
  }
  .button-nav:hover {
    background: $light_blue;
  }

  div.container {
    z-index: 50;
    @include position(65px null null null);
    @include size(960px 100%);
    @include center-block;

    div#menu {
      @include clearfix;
      @include outer-container;
      background: $menu_and_footer;
      @include size(960px 40px);
      display: block;
      text-align: center;
      vertical-align: middle;
      padding-top: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;


      .icon {
        color: white;

        padding-top: 4px;

        font-size: 24px;
        padding-left: 30px;
        @include transition(all, 300ms);

      }

      .icon:hover {
        color: shade($cream, 60%);
      }

      div.left {
        @include span-columns(2);

      }

      div.center {
        @include span-columns(8);

        h1.message {
          color: white;
          font-family: Cambria, "Times New Roman", Times, serif;
          font-size: 20px;

        }
      }

      div.right {
        @include span-columns(2);
      }
    }

    div#blogroll {
      $font: Cambria, "Times New Roman", Times, serif;
      color: $dark_blue;
      @include outer-container;
      @include clearfix;
      background: #EFEFEF;
      width: 100%;
      padding-top: 20px;

      ol {
        list-style-type: decimal;
      }

      h1, h2, h3, h4 {
        code {
          font-size: inherit;
          background: inherit;
          padding: 0;
        }
      }

      @include span-columns(12);

      p.topic-title {
        font-family: Cambria, "Times New Roman", Times, serif;
        margin-bottom: 1px;
        text-align: center;
      }

      div.post-meta {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        background-color: $light-gray;
      }

      img, img.align-center {
          @include center-block;
          -moz-box-shadow:    0px 1px 10px 0px rgba(0,0,0,0.50);
          box-shadow:         0px 1px 10px 0px rgba(0,0,0,0.50);
          margin-top: 10px;
          margin-bottom: 10px;
          border-radius: 3px;
      }


      div.info {
        padding-bottom: 20px;
        h1.header {
          text-align: center;
          font-family: $font;
          font-size: 24px;
        }

        ul.list {
          padding-top: 5px;
          li {
            color: $light_blue;
            text-align: center;
          }
        }
      }


      p.paginator {
          text-align: center;
          font-family: consolas, Inconsolata, Monaco, monospace;
        }

      div.entry-container {

        width: 85%;
        font-family: $font;

        @include clearfix;

        div.date {
          @include span-columns(5 of 12);
          font-size: 18px;
          float:left;
          vertical-align: middle;
          text-align: right;
          padding-right: 10px;
        }

        div.post {
          @include span-columns(7 of 12);
          float: right;

          h1 {
            font-family: $font;
            font-weight: bold;
//            font-family: Lora, serif;
            font-size: 20px;
            a {
              color: $dark_blue;
              &:hover {
                color: $light_blue;
              }
            }
          }

          p {
            font-weight: normal;
            font-family: Calibri, Helvetica, sans-serif;

          }
          p.first {
            margin: 0;
          }

          span.post-meta {
            font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-style: italic;
            font-weight: normal;
          }

          span.meta-type {
            font-weight: bold;
          }


        }
      }
    }


    div#footer {

      @include clearfix;
      background: $menu_and_footer;
      width: 100%;

      footer {
        color: white;
        text-align: center;
        font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      }
    }
  }

  nav {
    span.section-header {
      display: block;
      text-align: center;
      font-family: Code-Bold, sans-serif;
      font-size: larger;
      color: $light_orange;
      background: $dark_blue;
      margin: 3px;
      vertical-align: middle;
    }
  }

}

p {
  font-family: $helvetica;
}

div.article-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;

  blockquote {
    padding: 0 12px 0;
  }

  sup {
    vertical-align: super;
    font-size: 12px;
  }

  strong {
    font-weight: bold;
  }

  p {
    display: table;
    &.topic-title {
      text-align: center;
      display: block;
    }
  }

  p.time {
    display: block;
  }

  #table-of-contents {
    height: 100%;
    float: left;
    width: auto;
    margin: 0 30px 20px 0;
    background-color: $light-gray;
    clear: both;
    padding: 10px;
    ul {
      padding-bottom: 0;
    }
  }

  p.time {
    font-size: 1em;
    vertical-align: top;
    font-family: Cambria, "Times New Roman", Times, serif;
    text-align: center;
    font-style: italic;
    color: $dark_blue;
    border-bottom: 1px solid tint($dark-gray, 75%);
  }

  table.footnote, table.citation {
    padding: 0;
    margin:0;

    td {
      font-size: 16px;
      font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      padding: 3px;
      border-bottom: 0;
    }

    td.label {
      vertical-align: top;
      width: 5%;
      font-family: consolas, Inconsolata, Monaco, monospace;
    }
  }

  table.citation {
    td.label {
      width: 10%;
    }
  }

//  This should not be here
  ul, li {
    em {
      font-style: italic;
    }
  }

  p {
    font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: justify;
    font-size: 18px;

    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }

    code.coderef {
      @include coderef;
    }
  }

  blockquote {
      font-style: italic;
      font-family: 'Georgia', serif;
      width: 75%;
      background-color: tint($light_blue, 70%);
      margin-bottom: 35px;
      @include center-block;
      dt {
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-style: italic;
        font-weight: normal;
      }

      dd {
        float: right;
        font-weight: bold;
      }
  }

  ul, ol {
    font-family: Calibri, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding-bottom: 10px;
    margin-left: 20px;
  }

  ul {
    list-style: disc;
    font-size: 1.1rem;
  }

  div.contents {
    ul {
      list-style: square;
    }
  }

  ul.simple {
    padding-left: 20px;
    display: table;
  }

  tt.literal, code, pre {
    padding: 2px 4px 1px;
    font-family: 'Consolas', 'Inconsolata', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  }

  tt.literal, code {
    font-size: 0.8rem;
    display: inline-table;
    overflow-x: auto;
  }

  div.external {
    @include center-block;
    text-align: center;
    align-content: center;
  }

  div.highlight {
    @include center-block;
    border-radius: 10px;
    margin-bottom: 10px;
//    -moz-box-shadow:    0px 1px 10px 0px rgba(0,0,0,0.50);
//    box-shadow:         0px 1px 10px 0px rgba(0,0,0,0.50);
    width: 90%;

    pre {
      font-size: 14px;
      border-radius: 10px;
      padding: 20px;
      overflow: auto;
      span {
        code.coderef {
          @include coderef;
        }
      }
    }
  }

  tt.literal, code {
    color: black;
    background-color: tint(#878484, 50%);
//    background-color: #878484;
//    color: white;
//    font-weight: bold;
    border-radius: 3px;
  }

  h1, h2, h3, h4, h5 {
    clear: both;
    font-family: Cambria, "Times New Roman", Times, serif;
  }

  h1 {
    text-align: center;
    font-weight: bold;
  }

  h2, h3 {
//    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    a.toc-backref {
      color: $dark_blue;
      &:hover {
        color: $light_blue;
      }
    }
  }

  h2 {
    background-color: $light-gray;
    text-align: center;
    font-size: 1.65em;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h3 {
    @include center-block;
    font-size: 1.45em;
    margin: 20px 0 15px 0;
  }

  h4 {
    font-size: 1.1em;
  }

}

kbd, .key {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	border: none;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

kbd[title], .key[title] {
	cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
	color: rgb(250, 250, 250);
	text-shadow: -1px -1px 0 rgb(70, 70, 70);
	-moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

/* Light style for display on dark background. */
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
	background: rgb(250, 250, 250);
	background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}

a.footnote-reference {
  font-family: consolas, Inconsolata, Monaco, monospace;
  font-size: 70%;
  vertical-align: super;
}